@page
@model Zero_Hunger.Pages.CookFoodPage.CookFoodViewModel
@{
    //ViewData["userName"] = "User";
}
<br>
<h1> View Cook Food Donation</h1>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Cook Food Donation List</h2>
    </div>
    <div class="col-3">
        <a asp-page="AddCookFood" class="btn btn-info form-control text-white">Create New Donation</a>

    </div>

    <div class="col-15 border p-3 mt-3">
        <form method="post">
            @if (Model.CookedFood.Count() > 0)
            {
                <table class="table progress-bar-striped border" style="border:solid">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="CookedFood.FirstOrDefault().CookID"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().ShopName"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().CookName"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().OpenDate"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().CloseDate"></label>
                        </th>
                        <th>
                            <label asp-for="CookedFood.FirstOrDefault().CookLatitude"></label>
                        </th>
                        <th>
                            <label asp-for="CookedFood.FirstOrDefault().CookLongtitude"></label>
                        </th>
                        <th>
                            <label asp-for="CookedFood.FirstOrDefault().CookQuantity"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().Reservation"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().RemainQuantity"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="CookedFood.FirstOrDefault().DonorUserID"></label>
                        </th>
                        
                        <th>

                        </th>
                    </tr>
                    @foreach(var item in Model.CookedFood)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m=>item.CookID)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.ShopName)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.CookName)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.OpenDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.CloseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.CookLatitude)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.CookLongtitude)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.CookQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.Reservation)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.RemainQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.DonorUserID)
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete?')" asp-page-handler="Delete" asp-route-id="@item.CookID">Delete</button>
                                 <a class="btn btn-success btn-sm text-white"@* asp-page="EditUser" *@asp-route-Id="@item.CookID">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Cook Food Donation</p>
            }
        </form>
    </div>
</div>

