@page
@model ZeroHunger.Pages.Deliveries.ViewDeliveryItemModel
@{
}

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-info">View Delivery Item</h2>
        </div>
    </div>  
</div>
<br/><br/>
    @if(Model.DeliveryItems.Count()>0){
    <table class="table table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <th>
                Delivery Item Name
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
     @foreach(var obj in Model.DeliveryItems){
            <tr>
             @foreach(var dryfood in Model.DryFoods){
                  if(@dryfood.Id == @obj.DryFoodID){
                        var dryfoodname = @dryfood.DryFoodName;
                        <td>@dryfoodname</td>
                        break;
                    }  
             }
            <td>@obj.Quantity</td>
        </tr>
        }
    </tbody>
    </table>
}
else
{
    <p class="text-center"><h3>No Delivery Item Yet</h3></p>
    
}
<br />
<a asp-page="VolunteerDelivery" class="btn form-control" style="width:300px;display:block;margin:auto">Back to Delivery Request</a>


