@page
@model Zero_Hunger.Pages.UserPage.UserViewModel
@{
    //ViewData["userName"] = "User";
}
<br>
<h1> View User</h1>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">User List</h2>
    </div>
    <div class="col-3">
        <a asp-page="CreateUser" class="btn btn-info form-control text-white">Create New User</a>

    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Users.Count() > 0)
            {
                <table class="table progress-bar-striped border" style="border:solid">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserID"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Users.FirstOrDefault().userName)*@
                            <label asp-for="Users.FirstOrDefault().UserName"></label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserPwd"></label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserEmail"></label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().TypeId">Type</label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserBirth"></label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserAdrs1"></label>
                        </th>
                        <th>
                            <label asp-for="Users.FirstOrDefault().UserAdrs2"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach(var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m=>item.UserID)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserPwd)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.TypeId)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserAdrs1)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>item.UserAdrs2)
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete?')" asp-page-handler="Delete" asp-route-id="@item.UserID">Delete</button>
                                 <a class="btn btn-success btn-sm text-white" asp-page="EditUser" asp-route-Id="@item.UserID">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Users Registered</p>
            }
        </form>
    </div>
</div>

