@page
@model ZeroHunger.Pages.Deliveries.DeliveryItemModel

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-info">Manage Delivery Item</h2>
        </div>
        <div class="col-4 mt-2">
            <a asp-page="AddDeliveryItem" asp-route-id="@Model.DeliveryId" class="btn btn-info form-control">
                <i class="bi bi-pencil-square"></i> &nbsp; Add New Delivery Item
            </a>
        </div>
    </div>  
</div>
<br/><br/>

    <table class="table table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <th>
                Delivery Item Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
     @foreach(var obj in Model.DeliveryItems){
            <tr>
             @foreach(var dryfood in Model.DryFoods){
                  if(@dryfood.Id == @obj.DryFoodID){
                        var dryfoodname = @dryfood.DryFoodName;
                        <td>@dryfoodname</td>
                        break;
                    }  
             }
            <td>@obj.Quantity</td>
            <td>
                <form method="post" asp-route-id="@obj.ItemID">
                <button class="btn btn-danger mx-2" style="width:100px">
                Delete &nbsp;<i class="bi bi-trash-fill"></i>
                </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>    
<br />
<a asp-page="Index" class="btn btn-secondary" style="width: 150px">Back to Delivery</a>


@section Scripts{
    <script src="~/js/DeliveryItem.js"></script>
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
