@page
@model ZeroHunger.Pages.Deliveries.VolunteerDeliveryModel

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary">List of Delivery Request</h2>
        </div>
    </div>
</div>

<br/><br/>

<table class="table table-responsive-sm table-bordered table-striped w-auto" style="text-align:center">
    <thead>
        <tr>
            <th>
                Receiver Name
            </th>
            <th>
                Receiver Phone
            </th>
            <th>
                Receiver Address
            </th>
            <th>
                Dry Food Name
            </th>
            <th>
                Quantity
            </th>
            <th width="14%">
                Delivery Time
            </th>
            <th>
                Delivery Status
            </th>
            <th>
                Accept
            </th>
            <th>
                Reject
            </th>
            <th>
                Completed
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach(var obj in Model.MyDeliveries){
        <tr>
            <td>@obj.Receiver.UserName</td>
            <td>@obj.Receiver.UserPhone</td>
            <td>@obj.Receiver.UserAdrs1 @obj.Receiver.UserAdrs2</td>
            <td>10kg Rice <br /> Sugar</td>
            <td>1 <br />1</td>

            <td>@obj.DeliveryTime</td>
            <td>@obj.DeliveryStatus</td>
            
            @if(@obj.DeliveryStatus== 0){
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Accept" asp-route-id="@obj.DeliveryID" class="btn btn-success mx-3">Accept &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Reject" asp-route-id="@obj.DeliveryID" class="btn btn-danger mx-3">Reject &nbsp;<i class="bi bi-x-square-fill"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Complete" asp-route-id="@obj.DeliveryID" style="visibility:hidden;" class="btn btn-warning mx-3">Complete &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
             }
            else if((int)@obj.DeliveryStatus== 1){
                <td></td>
                <td></td>
                <td width="13%">
                    <form method="post">
                    <button type="submit" asp-page-handler="Complete" asp-route-id="@obj.DeliveryID" class="btn btn-warning mx-3">Complete &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
                }
            else{
               <td></td>
               <td></td>
               <td></td>     
            }
            </tr>
        }
    </tbody>
</table>






