@page
@model ZeroHunger.Pages.Deliveries.VolunteerDeliveryModel

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary">List of Delivery Request</h2>
        </div>
    </div>
</div>

<br/><br/>

<table class="table table-bordered table-striped w-auto" style="text-align:center">
    <thead>
        <tr>
            <th>
                Receiver Name
            </th>
            <th>
                Receiver Phone
            </th>
            <th width="18%">
                Receiver Address
            </th>
            <th width="20%">
                Dry Food Name
            </th>
            <th>
                Quantity
            </th>
            <th width="14%">
                Delivery Time
            </th>
            <th>
                Delivery Status
            </th>
            <th width="5%">
                Accept
            </th>
            <th>
                Reject
            </th>
            <th>
                Completed
            </th>

             <!--
             <th width="14%">
                Arrival Time
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Quantity
            </th>
            <th width="12%">Accept</th>
            <th width="11%">Reject</th>
            <th width="10%">Completed</th>-->
        </tr>
    </thead>
    <tbody>
    @foreach(var obj in Model.MyDeliveries){
        @if((int)@obj.DeliveryStatus!= 4){
        <tr>
            <td>@obj.Receiver.UserName</td>
            <td>@obj.Receiver.UserPhone</td>
            <td>@obj.Receiver.UserAdrs1 @obj.Receiver.UserAdrs2</td>
            <td>10kg Rice <br /> Sugar</td>
            <td>1 <br />1</td>

            <td>@obj.DeliveryTime</td>
            <td>@obj.DeliveryStatus</td>
            
            @if(@obj.DeliveryStatus== 0){
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Accept" asp-route-id="@obj.DeliveryID" class="btn btn-success" style="width:100px">Accept &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Reject" asp-route-id="@obj.DeliveryID" class="btn btn-danger" style="width:100px"> Reject &nbsp;<i class="bi bi-x-square-fill"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Complete" asp-route-id="@obj.DeliveryID" style="visibility:hidden;width:100px" class="btn btn-warning">Complete &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
             }
            else if((int)@obj.DeliveryStatus== 1){
                <td></td>
                <td></td>
                <td>
                    <form method="post">
                    <button type="submit" asp-page-handler="Complete" asp-route-id="@obj.DeliveryID" class="btn btn-warning" style="width:120px">Complete &nbsp;<i class="bi bi-check-square-fill"></i></button>
                    </form>
                </td>
                }
            else{
               <td></td>
               <td></td>
               <td></td>     
            }
            </tr>
        }}
    </tbody>
</table>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}




