@page
@model ZeroHunger.Pages.CookFood.IndexModel
        <script>window.onload = navigator.geolocation.getCurrentPosition(success, error, options);</script>
        <h1 style="text-align:center;">Cook Food Donation</h1>

        <h3 style="text-align:end;margin-right:25px;">Donation List</h3>
        <div class='promptContainer' id="promptContainer">

            <div style="display:flex;justify-content:space-around;">
                <div class='promptTitle'>Donation</div>
                <vid onClick="closeRePrompt();" >X</vid>
            </div>

            <div>
                <form method="post">
                    <table>
                        <tr>
                            <th class='tableLeft'>Food Name</th>
                            <td id='pFoodShopName' class='tableLeft'></td>
                        </tr>
                        <tr>
                            <th class='tableLeft'>Food Name</th>
                            <td id='pFoodName' class='tableLeft'></td>
                        </tr>
                        <tr>
                            <th class='tableLeft'>Quantity</th>
                            <td id="pFoodQuantity" class='tableLeft'></td>
                        </tr>
                        <tr>
                            <th class='tableLeft'>Distance</th>
                            <td id="pFoodDistance" class='tableLeft'></td>
                        </tr>
                        <tr>
                            <td colspan='2' style="text-align:center;">
                                <input type='submit' value='Reserve' id='reservedBut'>
                            </td>
                        </tr>
                    </table>
                    <input id="pFoodId" type="hidden" asp-for="id" value="0" />
                </form>
            </div>
        </div>

        <div id="CookFoodContainer">
            <div id="map" style="width:800px;height:500px;">
                Map
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2fBiU-KdwozQVPPLeB_IW0y26-zwthaQ&maps_ids=ca3e1b773e1fd477&callback=initMap"></script>
                <!-- https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=AIzaSyAz32WUfTmcByLCFFmeKQ20wktlZkPyZhI-->
            </div>
            <div id="list">
                @if (Model.CFD.Count() == 0)
                {
                    <p>No Cooked Food In List</p>
                }
                else
                {
                    
                    @foreach (var item in Model.CFD)
                    {


                        <div id="itemContainer" name="itemContainer" onClick="displayItemBox('@item.ShopName', '@item.CookName', ' @(item.RemainQuantity-item.Reservation)', '@item.CookID')">
                            <div id="itemInfo">
                                <div>
                                    <div id="itemName" name="itemName">
                                        @Html.DisplayFor(m => item.CookName)
                                    </div>
                                    <div id="itemQuantity">
                                        @(item.RemainQuantity-item.Reservation)/@Html.DisplayFor(m => item.RemainQuantity)
                                    </div>
                                </div>
                                <p hidden id="itemCount">@Model.count</p>
                                <p hidden name="itemLat">@Html.DisplayFor(m => item.CookLatitude)</p>
                                <p hidden name="itemLon">@Html.DisplayFor(m => item.CookLongtitude)</p>


                                <div name="itemDistance" id="itemDistance.@item.CookID">

                                </div>
                            </div>

                        </div>


                    }


                }
                <div id="pageButtonContainer">
                    <button onclick="previousPage()" id="pPage"><</button>
                    <button onclick="nextPage()" id="nPage">></button>
                </div>
            </div>
        </div>
        
 