@page
@model ZeroHunger.Pages.CookFood.ViewCookFoodModel

<script>window.onload = navigator.geolocation.getCurrentPosition(success, error, options);</script>
<h1 style="text-align:center;">Cook Food Donation</h1>
<h3 style="text-align:end;margin-right:25px;">Donation List</h3>
<div class='promptContainer' id="promptContainer"></div>
    <div id="CookFoodContainer">
        <div id="map" style="width:800px;height:500px;">
            Map
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2fBiU-KdwozQVPPLeB_IW0y26-zwthaQ&callback=initMap"></script>
        </div>
        <div id="list">
            @if (Model.CFD.Count() == 0)
            {
                <p>No Cooked Food In List</p>
            }
            else
            {
                
                @foreach (var item in Model.CFD)
                {
                    @if (Model.loopCount<4)
                        { 
                    <div id="itemContainer" onClick="displayItemBox('@item.ShopName', '@item.CookName', '@item.CookQuantity', '@item.CookID')">
                        <div id="itemInfo">
                            <div>
                                <div id="itemName">
                                    @Html.DisplayFor(m => item.CookName)
                                </div>
                                <div id="itemQuantity">
                                    @Html.DisplayFor(m => item.CookQuantity)
                                </div>
                            </div>
                            <p hidden id="itemCount">@Model.count</p>
                            <p hidden name="itemLat">@Html.DisplayFor(m => item.CookLatitude)</p>
                            <p hidden name="itemLon">@Html.DisplayFor(m => item.CookLongtitude)</p>


                            <div name="itemDistance" id="itemDistance.@item.CookID">

                            </div>
                        </div>

                    </div>
                    
                    }
                }


            }

        </div>
    </div>

